.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;

  width: 330px;
  height: 760px;
  left: 175px;
  margin: 50px 25px auto;
  padding: 0 20px;
}

.benifitsList {
  flex: 5;
  list-style-type: none;
}

.planImgClass {
  flex: 2;
  width: 144.9px;
  /* height: 165.37px; */
  margin: 79.63px auto 30px;
}

.selectPlan {
  width: 177.88px;
  height: 35px;
}
.textAndButton {
  flex: 5;
  display: flex;
  flex-direction: column;
}
.price {
  width: 177.88px;
  height: 55px;
  flex: 1;
  margin-top: 30px;
  margin: 50px auto 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 400;
}
.strong {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}
@media screen and (max-width: 1281px) {
  .card {
    margin: auto 40px;
  }
  .planImgClass {
    margin: 0 auto;
  }
  .benifitsList {
    margin: 20px auto;
    padding: 0;
  }
}

@media screen and (max-width: 1025px) {
  .card {
    margin: auto 10px;
  }

  .planImgClass {
    margin: 0 auto;
  }

  .benifitsList {
    margin: 20px auto;
    padding: 0;
  }
}

@media screen and (max-width: 769px) {
  .card {
    margin: auto 10px;
  }

  .planImgClass {
    margin: 0 auto;
  }

  .benifitsList {
    margin: 20px auto;
    padding: 0;
  }
}

@media screen and (max-width: 641px) {
  .card {
    margin: 15px auto;
    height: auto;
    width: 310px;
    flex-direction: row;
  }
  .textAndButton {
    flex: 3;
  }
  .planImgClass {
    flex: 2;
    width: 150px;
    margin: 0;
  }

  .benifitsList {
    margin: 20px 0;
    padding: 0;
  }
}
