.card {
  width: 800px;
  height: 200px;

  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0 10px 80px #11111170;
  display: flex;
  padding: auto;
  margin: auto;
  margin-top: 40px;
}
.text {
  /* flex: 2; */
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}
.heading2 {
  margin: 0;
}
.paragraph {
  margin: 0;
  margin-top: 5px;
}
.btn {
  /* flex: 1; */
  height: 65px;
  width: 210px;
  margin: auto;
  /* margin-left: 80px;
  margin-right: -80px; */
}

@media screen and (max-width: 1281px) {
  .card {
    border-radius: 20px;
  }
}

@media screen and (max-width: 1025px) {
  .card {
    flex-direction: column;
    width: 700px;
  }
}

@media screen and (max-width: 769px) {
  .card {
    width: auto;
    height: auto;
    margin: auto 50px;
  }
  .btn {
    margin: 40px auto;
  }
  .heading2 {
    margin: 30px auto 5px;
  }
}

@media screen and (max-width: 641px) {
  .card {
    margin: auto 20px;
  }
  .btn {
    margin: 25px auto;
  }
  .heading2 {
    margin: 25px auto 5px;
  }
}
